/* Fade Animation */

.card{
    opacity:0;
    transform:translateY(40px);
    transition:1s;
}

.card.show{
    opacity:1;
    transform:translateY(0);
}

/* Scroll To Top */

#topBtn{

    position:fixed;

    bottom:30px;

    right:30px;

    width:50px;

    height:50px;

    border:none;

    border-radius:50%;

    background:#38bdf8;

    color:white;

    font-size:22px;

    cursor:pointer;

    display:none;

    transition:.3s;

}

#topBtn:hover{

    background:#0284c7;

}
